/* TYPOGRAPHY */

.uk-white {
    color: #fff!important;
}

body em {
    color: inherit;
}

/* ABOUT */

@media screen and (min-width:768px){
    div.about__container ul {
        columns: 2;
    }
}

div.about__container ul li {
    margin-top: 8px;
}

/* MEMBER OPTIONS */

header.card-header {
    background: #00697A;
}

.card-header {
    background-color: transparent;
    align-items: stretch;
    box-shadow: 0 0.125em 0.25em rgb(10 10 10 / 10%);
    display: flex;
}

.card-footer {
    background-color: transparent;
    border-top: 1px solid #ededed;
    align-items: stretch;
    display: flex;
}

.card-footer-item:not(:last-child) {
    border-right: 1px solid #ededed;
}

footer.card-footer p {
    background: #f4f4f4;
}

.card-footer-item {
    align-items: center;
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: center;
    padding: 0.75rem;
}

.card-content {
    background-color: transparent;
    padding: 1.5rem;
}

.card {
    background-color: #fff;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
    color: #4a4a4a;
    max-width: 100%;
    position: relative;
}

/* FEAUTURED */

div.featured__container {
    background: #F4B221;
    margin-top: 100px;
    padding: 25px;
}

/* FOOTER */

footer.footer {
    background: #0E0E0C;
}