  
{{ partial "global/head" . }}
{{ partial "global/navbar" . }}
<div class="page-banner" style="background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url({{ .Site.Data.appearance.page_design.banner }}) no-repeat center; background-size: cover;height:30vh">
    <div class="section">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h1 class="title is-3 has-text-white has-text-centered is-size-4-mobile has-text-weight-normal">{{ .Title }}</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<main>
{{ block "main" . }}

{{ end }}
</main>
{{ partial "global/footer" . }}