<div class="big-section about__container">
    <div class="container">
        <div class="columns is-variable is-8">
            <div class="column">
                <h1 class="title is-4">Workspace <span>Amenities</span> Designed To Help Your Business Thrive</h1>
                <div class="line"></div>
                <p class="mt-6">Do your best work in our bright, modern spaces that are optimized to meet your professional needs. Select from beautifully designed open desks, private offices, meeting rooms or the podcast studio. Launch and Go has flexible, comfortable and inspiring spaces ready whenever you are, day or night.</p>
                <div class="mt-6">
                    <ul>
                        <li>Online Dashboard & Free App</li>
                        <li>Staffed Hours: 9am-5pm, Mon-Fri</li>
                        <li>24/7 Access with Secure Keyless Entry</li>
                        <li>Mail & Package Service</li>
                        <li>Secure High Speed 1 Gbps WiFi Internet</li>
                        <li>Printer, Copier & Scanner Access</li>
                        <li>Private Phone Booth</li>
                        <li>Coffee, Tea & Sparkling Water</li>
                        <li>Podcast Studio</li>
                    </ul>
                </div>
            </div>
            <div class="column">
                <img src="/uploads/IMG_0190.jpg" alt="">
            </div>
        </div>
    </div>
</div>