<div class="featured__container">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column is-8">
                <h2 class="title is-4">Virtual Suite $30/mo</h2>
                <p class="has-text-black">Get a physical business address to register with Google/Apple Maps! You also get the ability to receive mail and packages sent to your new business address!</p>
            </div>
            <div class="column">
                <a href="https://peachtreecity.launchandgoworkspace.com/account/memberships/change" class="secondary-btn">Learn More</a>
            </div>
        </div>
    </div>
</div>