<div class="featured__container">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column is-8">
                <h2 class="title is-4">Virtual Mailbox $25/mo</h2>
                <p class="has-text-black">A physical business address where you can receive your mail and packages</p>
            </div>
            <div class="column">
                <a href="https://members.launchandgoworkspace.com/account/memberships/change" class="secondary-btn">Learn More</a>
            </div>
        </div>
    </div>
</div>