<div class="featured__container">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column is-8">
                <h2 class="title is-4 has-text-white">Virtual Suite $30/mo</h2>
                <p class="has-text-white">Our Virtual Suite membership option provides your business with a professional address in a prime location, instant activation, and a flexible solution that’s ideal for remote teams and startups.</p>
            </div>
            <div class="column">
                <a href="https://peachtreecity.launchandgoworkspace.com/account/memberships/change" class="secondary-btn">Learn More</a>
            </div>
        </div>
    </div>
</div>