<section class="hero is-fullheight" style="background:linear-gradient(rgb(33 33 33 / 50%),rgb(33 33 33 / 60%)),url(/uploads/office3.jpg) no-repeat center;background-size:cover">
    <!-- Hero head: will stick at the top -->
    {{ partial "global/navbar" . }}
  
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-three-fifths">
                        <h1 class="title has-text-white is-2">The Premier Coworking Space</h1>
                        <h2 class="subtitle has-text-white">in Peachtree City, GA</h2>
                        <p class="has-text-white">We offer professional work spaces to fit your budget, availability & productivity needs. </p>
                        <br>
                        <br>
                        <a href="" class="hero-btn">Book Now</a>
                </div>
            </div>
        </div>
    </div>  
    <!-- Hero footer: will stick at the bottom -->
    <div class="hero-foot">
        <div class="container">
            <div class="columns is-variable is-4">
                <div class="column is-three-fifths">
                    <div class="columns">
                        <div class="column">
                            <h2 class="title is-6 has-text-white">Bookable Spaces</h2>
                            <p class="has-text-white">Book one of our rooms for your next client meeting or event</p>
                            <p class="has-text-white is-size-7 mb-4">Available by the hour or recurring.</p>
                            <a href="" class="primary-link">View Rooms</a>
                        </div>
                        <div class="column">
                            <h2 class="title is-6 has-text-white">Desk Spaces</h2>
                            <p class="has-text-white">Grab an available “hot desk” or opt for a dedicated space.</p>
                            <p class="has-text-white is-size-7 mb-4">Available options daily or monthly.</p>
                            <a href="" class="primary-link">View Rooms</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
  </section>