{{ $hero := .Site.Data.home.hero }}
{{ $heroc1 := .Site.Data.home.hero.hero_footer.first_column }}
{{ $heroc2 := .Site.Data.home.hero.hero_footer.second_column }}
<section class="hero is-fullheight" style="background:linear-gradient(rgb(33 33 33 / 50%),rgb(33 33 33 / 60%)),url({{ $hero.image }}) no-repeat center;background-size:cover">
    <!-- Hero head: will stick at the top -->
    {{ partial "global/navbar" . }}
  
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-three-fifths">
                    {{ if $hero.subtitle }}
                    <h2 class="subtitle mb-6" style="color:#F4B221">{{ $hero.subtitle }}</h2>
                    {{ end }}
                    {{ if $hero.heading }}
                    <h1 class="title has-text-white is-2">{{ $hero.heading }}</h1>
                    {{ end }}
                        {{ if $hero.body }}
                        <p class="has-text-white">{{ $hero.body }}</p>
                        {{ end }}
                        <br>
                        <br>
                        {{ if $hero.button_link }}
                        <a href="{{ $hero.button_link }}" class="hero-btn">{{ $hero.button_label }}</a>
                        {{ end }}
                </div>
            </div>
        </div>
    </div>  
    <!-- Hero footer: will stick at the bottom -->
    <div class="hero-foot">
        <div class="container">
            <div class="columns is-variable is-4">
                <div class="column is-three-fifths">
                    <div class="columns">
                        {{ if $heroc1 }}
                        <div class="column">
                            <h2 class="title is-6 has-text-white">{{ $heroc1.heading }}</h2>
                            <p class="has-text-white">{{ $heroc1.body }}</p>
                            <p class="has-text-white is-size-7 mb-4">{{ $heroc1.small_text }}</p>
                            <a href="{{ $heroc1.link }}" class="primary-link">{{ $heroc1.link_text }}</a>
                        </div>
                        {{ end }}
                        {{ if $heroc2 }}
                        <div class="column">
                            <h2 class="title is-6 has-text-white">{{ $heroc2.heading }}</h2>
                            <p class="has-text-white">{{ $heroc2.body }}</p>
                            <p class="has-text-white is-size-7 mb-4">{{ $heroc2.small_text }}</p>
                            <a href="{{ $heroc1.link }}" class="primary-link">{{ $heroc2.link_text }}</a>
                        </div>
                        {{ end }}
                    </div>
                </div>

            </div>
        </div>
    </div>
  </section>