{{ $memberOptions := .Site.Data.home.membership_options }}
<div class="big-section" style="background: #FAFAFA">
    <div class="container">
        <div class="columns is-vcentered mb-6">
            <div class="column is-8">
                {{ if $memberOptions.heading }}<h2 class="title is-4">{{ .Site.Data.home.membership_options.heading }}</h2>{{ end }}
                {{ if $memberOptions.body_text }}<p>{{ .Site.Data.home.membership_options.body_text | markdownify }}</p>{{ end }}
            </div>
            <div class="column has-text-centered">
              {{ if $memberOptions.button_link }}<a href="{{ $memberOptions.button_link }}" class="primary-btn">{{ $memberOptions.button_text }}</a>{{ end }}
            </div>
        </div>
        <div class="columns is-multiline">
            {{ range $memberOptions.options }}
                <div class="column is-3">
                    <div class="card" style="height:100%;position:relative;">
                        <header class="card-header">
                          <h3 class="card-header-title has-text-white is-size-5">{{ .heading }}</h3>
                        </header>
                        <div class="mx-4 pt-3 is-size-7">
                          {{ .subtitle | markdownify }}
                          <hr>
                        </div>

                        <div class="card-content">
                          <div class="content" style="height:100%">

                            <p>{{ .details | markdownify }}</p>
                          </div>
                        </div>

                      </div>
                      <footer class="card-footer">
                        <p class="card-footer-item has-text-weight-bold">{{ .price }}</p>
                        <a href="{{ .link }}" class="card-footer-item">Select</a>
                      </footer>
                </div>
            {{ end }}
        </div>
    </div>
</div>