{{ $process := .Site.Data.home.process }}
{{ $banner := .Site.Data.home.banner }}
<div class="big-section" style="background: #FAFAFA">
    <div class="container">
        <div class="columns">
            <div class="column has-text-centered">
                {{ if $process.heading }}
                <h2 class="title is-3 page-title">{{ $process.heading | markdownify }}</h2>
                {{ end }}
            </div>
        </div>
        <div class="columns has-text-centered mb-6 is-multiline">
            {{ range $process.steps }}
            <div class="column is-4">
                <div class="process-1 mt-5">
                    <h3 class="title is-4 mb-0">{{ .heading }}</h3>
                    <p>{{ .body | markdownify }}</p>
                </div>
            </div>
            {{ end }}
        </div>
        <div class="columns">
            <div class="column has-text-centered">
                {{ if $process.image }}
                <img src="{{ $process.image }}" alt="3 step process Go Workspace" width="700">
                {{ end }}
            </div>
        </div>
        <div class="columns is-vcentered banner mt-6">
            <div class="column is-8">
                    {{ if $banner.heading }}
                    <h2 class="title is-3 has-text-white">{{ $banner.heading }}</h2>
                    {{ end }}
                    {{ if $banner.body }}
                    <p class="has-text-white">{{ $banner.body | markdownify }}</p>
                    {{ end }}
            </div>
            <div class="column has-text-centered">
                {{ if $banner.button_link }}
                <a href="{{ $banner.button_link }}" class="primary-btn">{{ $banner.button_label }}</a>
                {{ end }}
            </div>
        </div>
    </div>
</div>