{{ define "main" }}
{{ $contact := .Site.Data.profile.primary_contact }}
    <div class="section" id="email">
        <div class="container">
            <div class="columns is-variable is-8">
                <div class="column has-text-left contact-info">
                    <h2 class="title is-4 has-text-black">Contact Information</h2>
                                        
                    <p class="has-text-black"><a href="https://g.page/Launch-and-Go?share">470 Commerce Dr., Peachtree City, Georgia 30269</a></p>
                    <a href="tel:%28678%29%20723-6064" class="has-text-black">Phone: (678) 723-6064</a>
                    
                    <p class="has-text-black">Staff available Tuesday - Thursday from 10:00 - 3:00<br>
        Call or email to schedule an office tour.
        Members receive 24/7 building access</p>
                    <ul class="footer-social">
                      <li><a href="https://www.facebook.com/Launch-and-Go-Workspace-1101900683281119/" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-facebook" width="20" height="20" viewBox="0 0 24 24" stroke-width="1" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z"></path>
                          <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3"></path>
                        </svg>
                      </a></li>
                      <li><a href="https://www.instagram.com/launchandgoworkspace/" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram" width="20" height="20" viewBox="0 0 24 24" stroke-width="1" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z"></path>
                          <rect x="4" y="4" width="16" height="16" rx="4"></rect>
                          <circle cx="12" cy="12" r="3"></circle>
                          <line x1="16.5" y1="7.5" x2="16.5" y2="7.501"></line>
                        </svg>
                      </a></li>
                      
                      
                      
                      <li><a href="https://www.linkedin.com/company/launch-and-go-workspace/" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-linkedin" width="20" height="20" viewBox="0 0 24 24" stroke-width="1" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z"></path>
                          <rect x="4" y="4" width="16" height="16" rx="2"></rect>
                          <line x1="8" y1="11" x2="8" y2="16"></line>
                          <line x1="8" y1="8" x2="8" y2="8.01"></line>
                          <path d="M12 16v-5"></path>
                          <path d="M16 16v-3a2 2 0 0 0 -4 0"></path>
                        </svg>
                      </a></li>
                    </ul>
                  </div>
                <div class="column">
                  <h2 class="title is-3">Send an Email</h2>
                  <form name="Contact Page Form" method="POST" data-netlify="true" netlify-honeypot="bot-field" class="footer-form mt-6">
                    <input name="bot-field" type="hidden"/>
      
                    <div class="field">
                      <div class="control">
                        <input class="input" type="text" placeholder="Name" name="Name" style="border: 1px solid black">
                      </div>
                    </div>
                    
                    <div class="field">
                      <div class="control">
                        <input class="input" type="text" placeholder="Phone" name="phone" style="border: 1px solid black">
                      </div>
                    </div>
          
                    <div class="field">
                      <div class="control">
                        <input class="input" type="email" placeholder="Email" name="email address" style="border: 1px solid black">
                      </div>
                    </div>
                    <div class="field">
                      <div class="control">
                        <textarea class="textarea" placeholder="Your Message" name="message" style="border: 1px solid black"></textarea>
                      </div>
                    </div>
                    <div class="control">
                      <button class="button" style="background:#000;color:#fff;">Submit</button>
                    </div>
                  </form>
                </div>
            </div>
        </div>
    </div>
{{ end }}